header{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: $headerHeight;
    width: 100%;
    z-index: 999;
    @media #{$medium-and-down}{
        height: $mheaderHeight;
    }
    
    & .container{
        display: flex;
        height: 100%;
    }
    
    & .logo{
        display: block;
        height: 25px;
        width: auto;
        margin: auto 0;
        @media #{$medium-and-down}{
            height: 14px;
        }
    }
    
}